.places {
  min-width: 320px;
  max-width: 984px;
  padding: 64px 0 66px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (min-width: 768px) {
  .places {
    width: calc(100% - 2*24px);
    padding: 88px 0 90px;
    gap: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    width: calc(100% - 2*48px);
    padding: 92px 0;
    gap: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    width: calc(100% - 2*148px);
  }
}
