/* 1280 */
.content {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  min-width: 320px;
  width: calc(100% - 2*148px);
  margin: 0 auto;
  padding: 0;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .content {
    max-width: 928px;
    width: calc(100% - 2*48px);
}

/* 768, 425 */
@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
}
