.place__text {
  width: calc(100% - 2*16px);
  min-width: 288px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (min-width: 768px) {
  .place__text {
    width: 100%;
  }
}
