.footer__link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  transition: opacity .4s ease;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.12;
  }
}
