.lead__title {
  font-size: clamp(40px, 12.5vw, 96px);
  line-height: 1.1;
  font-weight: 900;
  text-align: center;
  margin: 0 auto 16px;
  white-space: pre-line;
}

@media screen and (min-width: 768px) {
  .lead__title {
    line-height: 1.04;
    margin-bottom: 32px;
  }
}
