.intro__text {
  min-width: 288px;
  max-width: 720px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  padding: 40px 0 33px;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .intro__text {
    max-width: 690px;
  }
}
