.root {
  font-family: Inter, arial, sans-serif;
  color: #fff;
  background-color: #2A2C2F;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
