.lead__caption {
  align-self: flex-start;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-left: clamp(16px, 5vw, 24px);
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    padding-left: 0;
}
